<h1>Favourite Movies</h1>

<p>All Movies</p>

<ul>
  @for (movie of movieService.movies; track movie){
    <li>
      {{ movie }} ({{movie.year}} - {{movie.director}})
      
      <button 
      (click)="addToFavourites(movie)"
      [disabled]="isFavourite(movie)">
      {{ isFavourite(movie) ? 'Added' : 'Add to favourites' }}
    </button>
    </li>
  }
</ul> 

<p>Favourites movies of Student Herve LAGNEAUX, ID : S00295658</p>

@if (movieService.favourites.length == 0) {
  <p>None selected</p>
} @else {
  <p>{{ movieService.favourites.length}} movies chosen</p>
}

<ul>
  @for (fav of movieService.favourites; let i = $index; track i){
    <li>
      {{ fav.title }} ({{fav.year}} - {{fav.director}})
      <button (click)="removeFavourite(i)">Delete</button>
    </li>
  }
</ul>